@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	list-style: none;
	text-decoration: none;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
	direction: rtl;
}

@layer utilities {
	.center {
		@apply items-center justify-center
	}
}

@layer components {
	.primary-dot {
		@apply bg-primary w-3 h-3 inline-block rounded;
	}
}

::selection {
   	@apply bg-primary;
}